/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .special {
    background-color: lavender;
    border: dotted 50px red;
    color: pink;
    font-weight: bold;
}

.kurpow {
  background-color: rgb(65, 208, 244);
  border: stars 50px rgb(123, 239, 179);
  color: rgb(141, 113, 242);
  font-weight: bold;
}

.swoosh {
  background-color: rgb(225, 150, 216);
  border: stripes 50px rgb(236, 28, 255);
  color: rgb(255, 106, 181);
  font-weight: bold;
}

.zam {
  background-color: rgb(255, 31, 24);
  border: waves 50px rgb(188, 89, 69);
  color: rgb(251, 177, 177);
  font-weight: bold;
}